<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brothers in Arms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sedgwick+Ave&display=swap"
        rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <h1 class="hidden">Brothers in Arms</h1>

    <header class="full-width-grid-con">
        <h2 class="hidden">Header</h2>
        <div id="logo" class="col-start-2 col-end-2">
            <a href="index.html">
                <img src="images/BIA-Logo_colour.svg" alt="Logo">
            </a>
        </div>
        <nav class="m-col-start-10 m-col-end-13 l-col-start-10 l-col-end-13 xl-col-start-10 xl-col-end-13">
            <h2 class="hidden">Nav</h2>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="event.html">Events</a></li>
            <li><a href="donations.html">Donations</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="*" class="donate-nav">Donate Now</a></li>
        </nav>
        <!-- Mobile Menu -->
        <div id="mobile-nav" class="col-start-3 col-end-5 mobile">
            <input type="checkbox" id="overlay-input">
            <label for="overlay-input" id="overlay-button"><span></span></label>
            <div id="overlay">
                <ul>
                    <h2 class="hidden">Nav</h2>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="donations.html">Donations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="*" class="donate-nav">Donate Now</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div id="eventApp">
            <main v-if="event">
                <section class="grid-con">
                    <h2 class="col-span-full m-col-span-full">{{ event.title }}</h2>
                    <p class="col-span-full m-col-start-4 m-col-end-10 event-description">
                        {{ event.description }}
                    </p>
                    <button class="col-start-2 col-end-4 m-col-start-6 m-col-end-8">Get Tickets</button>
                </section>
        
                <section class="grid-con event-info">
                    <div class="col-span-full m-col-start-1 m-col-end-7">
                        <h3>Tickets</h3>
                        <p>{{ event.ticket }}</p>
                        <p class="note">{{ event.offer }}</p>
                        <p><img src="images/calender.svg" alt="icon" class="icon">{{ event.date }}</p>
                        <p><img src="images/location.svg" alt="icon" class="icon">{{ event.location }}</p>
                        <p><img src="images/timing.svg" alt="icon" class="icon">{{ event.time }}</p>
                        <h3>Updates</h3>
                    <p class="col-span-full m-col-start-1 m-col-end-7">
                        {{ event.updates }}
                    </p>
                    </div>
        
                    <div class="m-col-start-7 m-col-end-13 event-poster">
                        <img :src="'images/' + event.poster" :alt="event.title + ' Poster'" />
                    </div>
                </section>
        

        
                <section class="grid-con about_event">
                    <h3 class="col-span-full m-col-start-1 m-col-end-7">About the event</h3>
                    <video src="#" class="col-span-full m-col-span-full"></video>
                    <p class="col-span-full m-col-span-full description">{{ event.about_event }}</p>

                    <p class="col-span-full m-col-span-full note">{{ event.note }}</p>
                    <p class="col-span-full m-col-span-full">{{ event.about_event_more }}</p>
                </section>
            </main>
        
            <div v-if="error" class="error-message">{{ error }}</div>
        </div>

        <section class="grid-con donation-section">
            <h2 class="m-col-span-full">Make a Donation</h2>
            <p class="m-col-start-4 m-col-end-10">Help us to achieve our goal of having a permanent memorial to those
                Muslims who have fought and served during times of war.</p>

                <button class="m-col-start-6 m-col-end-8">Donate Now</button>
        </section>

        <section class="grid-con donation-section">
            <h2 class="m-col-span-full">Give as you Live</h2>
            <p class="m-col-start-4 m-col-end-10">We are registered with Give as you Live. This means we will receive a
                small donation if you do your online shopping via Give as you Live. You can sign up to support us via
                this link.</p>
        </section>
    </main>
</body>

</html>