<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brothers in Arms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sedgwick+Ave&display=swap"
        rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <h1 class="hidden">Brothers in Arms</h1>

    <header class="full-width-grid-con">
        <h2 class="hidden">Header</h2>
        <div id="logo" class="col-start-2 col-end-2">
            <a href="index.html">
                <img src="images/BIA_LOGO_COLOUR.png" alt="Logo">
            </a>
        </div>
        <nav class="m-col-start-10 m-col-end-13 l-col-start-10 l-col-end-13 xl-col-start-10 xl-col-end-13">
            <h2 class="hidden">Nav</h2>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="event.html">Events</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="*" class="donate-nav">Donate Now</a></li>
        </nav>
        <!-- Mobile Menu -->
        <div id="mobile-nav" class="col-start-3 col-end-5 mobile">
            <input type="checkbox" id="overlay-input">
            <label for="overlay-input" id="overlay-button"><span></span></label>
            <div id="overlay">
                <ul>
                    <h2 class="hidden">Nav</h2>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="event.html">Events</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="*" class="donate-nav">Donate Now</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div id="newsApp">
            <!-- EVENTS Section -->
            <section class="grid-con">
                <h2 class="col-span-full m-col-span-full">Events</h2>
                <p class="col-span-full m-col-start-4 m-col-end-10">
                    Welcome to the news and events section of the Brothers in Arms Memorial! Stay updated on our latest
                    events, memorials, and news regarding our fallen heroes.
                </p>
                <button class="m-col-start-6 m-col-end-8">Upcoming Event</button>
            </section>

            <section class="grid-con news">
                <div v-for="(item, index) in news.slice(0, 3)" :key="item.id"
                    class="col-span-full m-col-start-1 m-col-end-5 l-col-start-auto l-col-span-4">
                    <img :src="'images/' + item.image" :alt="item.title" class="news-img" />
                    <div class="tags">
                        <button>News</button>
                        <button>Memorial</button>
                    </div>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <p class="date">{{ item.date }}</p>
                </div>
            </section>

            <!-- PAST EVENTS Section -->
            <section class="grid-con news">
                <h2 class="col-span-full m-col-span-full">Past Events</h2>

                <div v-for="item in news.slice(3)" :key="item.id"
                    class="col-span-full m-col-start-1 m-col-end-5 l-col-start-auto l-col-span-4">
                    <img :src="'images/' + item.image" :alt="item.title" class="news-img" />
                    <div class="tags">
                        <button>News</button>
                        <button>Memorial</button>
                    </div>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <p class="date">{{ item.date }}</p>
                </div>
            </section>

            <div v-if="error" class="col-span-full error">{{ error }}</div>
        </div>


        <section class="grid-con donation-section">
            <h2 class="m-col-span-full">Make a Donation</h2>
            <p class="m-col-start-4 m-col-end-10">Help us to achieve our goal of having a permanent memorial to those
                Muslims who have fought and served during times of war.</p>

            <button class="m-col-start-6 m-col-end-8">Donate Now</button>
        </section>

        <section class="grid-con donation-section">
            <h2 class="m-col-span-full">Give as you Live</h2>
            <p class="m-col-start-4 m-col-end-10">We are registered with <a href="*">Give as you Live. </a>This means we
                will receive a small donation if you do your online shopping via Give as you Live. You can sign up to
                support us via <a href="*">this link</a>.</p>
        </section>



    </main>
</body>

</html>