button {
    margin-top: 1em;
    padding: 10px;
    font-weight: bold;
    border-radius: 0;
    border: 2px;
    background-color: #701a32;
    color: white;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        background-color: #be1e2d;
    }

}

button a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: white;
} 