#site-footer {
    background-color: #fff;
    padding: 40px 0;
    margin-top: 1em;
}

#footer-logo {
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 0 15px;
}

#footer-logo img {
    width: 15em;
}



.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#footer-nav-main,
#footer-nav-secondary {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer-nav-main li,
#footer-nav-secondary li {
    margin-bottom: 10px;
}

#footer-nav-main a,
#footer-nav-secondary a {
    color: #454545;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

#footer-nav-main a:hover,
#footer-nav-secondary a:hover {
    color: #be1e2d;
}

#footer-subscribe {
    display: flex;
    flex-direction: column;
}

#footer-subscribe form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-subscribe input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    border: 2px solid #701a32;
    background-color: #fff;
    color: #000000;
}

#footer-subscribe input::placeholder {
    color: #666;
}

#footer-subscribe input:focus {
    outline: none;
    border-color: #be1e2d;
}

#footer-subscribe button {
    background-color: #8B0021;
    color: white;
    margin-top: 30px;
    padding: 0.75em 1.5em;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4px 4px 0px #00000050;
    transition: 0.3s ease;
    text-justify: left;
}

#footer-subscribe button:hover {
    background-color: #6a0019;
    box-shadow: 2px 2px 0px #00000070;
}

@media screen and (max-width: 768px) {

    #footer-nav-main a,
    #footer-nav-secondary a {
        font-size: 1em;
    }

    .footer-container {
        margin-bottom: 20px;
    }
}