header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: normal;
}

#logo img {
    margin-top: 5px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
    width: 15em;
}

.donate-nav {
    border: 2px;
    border-radius: 5px;
    padding: 8px;
    background-color: #701a32;
    color: white;
}

.donate-nav:hover {
    border: 2px;
    border-radius: 5px;
    padding: 8px;
    background-color: #be1e2d;
    color: white;
}