#contact-hero {

    margin: 40px 0;
}

#contact-hero h2 {
    color: #701a32;
    font-size: 4em;
    text-align: center;
    padding: 20px;
}

#contact-hero p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    #contact-hero h2 {
        font-size: 2em;
    }
}

#contact-con {
    display: flex;
    flex-direction: row;
}

#contact-text {

    width: 100%;
}

#contact-text h2 {
    color: #701a32;
    font-size: 2em;
    text-align: left;
}

#contact-text p {
    text-align: left;
}

#contact-text h3 {
    color: #701a32;
    font-size: 1.5em;
    text-align: left;
    padding: 10px 0;
}

#contact-text button {
    background-color: #8B0021;
    color: white;
    margin-top: 30px;
    padding: 0.75em 1.5em;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4px 4px 0px #00000050;
    transition: 0.3s ease;
    text-justify: left;
}

#contact-text button:hover {
    background-color: #6a0019;
    box-shadow: 2px 2px 0px #00000070;
}

#contact-text button a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

#contact {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2em;
    width: 100%;
}

#contact form {
    gap: 1em;
    width: 100%;
}

#contact label {
    color: #701a32;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

#contact input,
#contact textarea {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    padding: 1em;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #000000;
    background-color: #fff;
    color: #000000;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border-bottom: 2px solid #be1e2d;
}

#contact textarea {
    resize: vertical;
    min-height: 100px;
}

#contact button {
    background-color: #8B0021;
    color: white;
    margin-top: 30px;
    padding: 0.75em 1.5em;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4px 4px 0px #00000050;
    transition: 0.3s ease;
    text-justify: left;
}

#contact button:hover {
    background-color: #6a0019;
    box-shadow: 2px 2px 0px #00000070;
}

#contact .success-message {
    width: fit-content;
    margin-top: 10px;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    align-self: flex-start;
}

.contact-donation-section {
    margin-top: 20px;
    
}

.contact-donation-section h2{
    font-size: 3em;
    text-align: left;
}

.contact-donation-section p{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    #contact-con {
        flex-direction: column;
    }

    #contact-text,
    #contact {
        margin: 0;
    }

    #contact-text {
        margin-bottom: 20px;
    }

    .contact-donation-section{
        display: none;
    }
}