.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#timeline-title {
    margin: 40px 0;
    width: 100%;
    max-width: 1200px;
}

#timeline-title h2 {
    color: #701a32;
    font-size: 4em;
    text-align: center;
    padding: 20px;
}

#timeline-title p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    #timeline-title h2 {
        font-size: 2em;
    }
}

#timeline {
    margin: 40px 0;
    width: 100%;
    max-width: 1200px;
}

@media screen and (min-width: 769px) {
    #timeline {
        position: relative;
    }

    .timeline-entry:not(:last-child) {
        border-right: 2px solid #701a32;
        padding-right: 20px;
    }

    .timeline-entry:last-child {
        padding-right: 20px;
    }

    .timeline-entry:first-child {
        padding-left: 20px;
    }

    .timeline-year {
        border-top: 2px solid #701a32;
        padding-top: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.timeline-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    min-height: 600px;
}

.timeline-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-year {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-entry h3 {
    color: #701a32;
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0;
}

.timeline-entry h4 {
    color: #454545;
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

.timeline-entry p {
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
}

.timeline-entry img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    padding: 20px 0;
}

#victoriacross,
#georgecross {
    margin: 40px 0;
    padding-top: 2em;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#victoriacross img,
#georgecross img {
    width: 10em;
    height: auto;
    align-self: center;
}

#victoriacross h3,
#georgecross h3 {
    color: #701a32;
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0;
}

#victoriacross p,
#georgecross p {
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .timeline-entry h3 {
        font-size: 2em;
    }

    .timeline-entry h4 {
        font-size: 1.25em;
    }

    .timeline-entry {
        margin-bottom: 20px;
        padding: 20px 10px;
        min-height: auto;
    }

    #victoriacross h3,
    #georgecross h3 {
        font-size: 2em;
    }
}